#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  max-width: 450px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.App h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #325780;
  align-self: center;
}









