#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#app-content h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #325780;
}

#form-box{
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
  text-align: left;
}

#form-box button{
  margin-top: 10px;
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

#btn-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#button-back{
  background-color: #f66d41;
}

#button-add{
  background-color: #04b989;
}

#form-box input{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: #325780;
  font-size: 1rem;
}

#form-box input:focus{
  outline: none;
  border: 1px solid #325780;
}

#btn-newPlan{
  margin: 15px 0;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #325780;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#text-no-plans{
  margin: 10px 0;
  font-size: 16px;
  color: #325780;
}

#text-no-plans p{
  background-color: #fdebf2;
  padding: 7px 10px;
  margin: 0;
  width:300px;
  border: 2px solid #f83182;
  color: #cc133e;
  font-size: 1.25rem;
}

