#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: aliceblue;
}

#form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
  text-align: left;
}

#form-box button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #325780;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#form-box label{
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
}

#form-box input{
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


