.footer{
  background-color: #21466e;
  height: 100px;
  width: 100%;

  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.footer-box {
  /*width: 500px;*/
  /*min-width: 300px;*/
}



.footer-box p{
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
}

.orange{
  color: #fc7f36;
}



