.footer{
  background-color: #3384d2;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.footer p{
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.orange{
  color: #fc7f36;
}


