.header{
  background-color: #4a82c5;
  height: 120px;
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  padding: 5px 0;
}

.header-text-box{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(106, 162, 231, 0.66);
  padding: 10px 15px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
}

.header h1{
  margin: 0;
  padding: 0;
  color: #f1f2f6;
  font-size: 2.6rem;
  z-index: 3;
  align-self: flex-start;
}

.header p{
  margin: 0;
  padding: 0;
  color: #2c486e;
  align-self: flex-end;
  font-size: 1.4rem;
  font-family: "Roboto Light", sans-serif;
}

@media screen and (max-width: 400px) {
  .header{
    justify-content: center;
    align-items: center;
  }
}


