.header{
  background-color: #3384d2;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.header-text{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgba(124, 181, 248, 0.35);
  border-radius: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.header h1{
  margin: 0;
  padding: 0;
  color: #2c486e;
  font-size: 2.6rem;
  z-index: 3;
  align-self: flex-start;
}

.header h3{
  margin: 0;
  padding: 0;
  color: #fff;
  align-self: flex-end;
  font-size: 1.4rem;
  font-family: "Roboto Light", sans-serif;
}


