.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    text-align: left;
    color: #4d6896;
}