.container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-evenly;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0;
    text-align: center;
}